h1 {
    text-align: center;
    margin-bottom: 30px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 220px);
    gap: 20px;
    justify-content: center;
}



.card {
    background: #e6e6e6;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 15px;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.card h2 {
    margin: 15px 10px 5px;
    font-size: 20px;
}

.card p {
    margin: 0;
    font-style: italic;
}