body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.products1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.products2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.product-card {
    background-color: #ffffff;
    width: 150px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.product-card p {
    margin: 0;
    font-weight: bold;
}
hr{
    color: gray;
    margin-top: 20px;
    opacity: 40%;
}
h4{
    text-align: center;
}