body {
    margin: 0;
    background-color: white;
    padding: 20px;
}
.cards{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
}
.fonts{
    width: 300px;
    height: 300px;
    background-color: #fde4c7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.rubik{
    font-family: 'Rubik Pixels';
}
.sedgwick{
    font-family: 'Sedgwick Ave Display';
}
.dancing{
    font-family: 'Dancing Script';
}
.fjalla{
    font-family: 'Fjalla One';
}
.indie{
    font-family: 'Indie Flower';
}
